p {
    margin: 0;
}

.weather_main {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.temprature_container {
    width: 60%;
    height: 100vh;
    color: white;
}

.container_item_temprature {
    position: absolute;
    bottom: 20%;
    left: 10%;
    display: flex;
}

.temprature {
    font-size: 100px;
    font-weight: 600;
}

.day_time {
    padding-top: 5px;
    padding-left: 3px;
    font-weight: 500;
}

.city_date_container {
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
}

.weather_icon_condition {
    padding-top: 30px;
    padding-left: 40px;
    text-align: center;
}

.weather_condition {
    text-align: center;
}

.city {
    font-size: 40px;
    font-weight: 600;
}

.error_message {
    color: #ff0033;
    padding-top: 10px;
    font-weight: 600;
}

.weather_details {
    width: 40%;
    background-color: grey;
    height: 100vh;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

.weather_detals_main {
    width: 80%;
    margin: auto;
}

.weather_icon {
    width: 40px;
    height: 40px;
}

.Form {
    display: flex;
}

.searchIcon {
    width: 40px;
    height: 40px;
}

.searchBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.searchInput {
    width: 90%;
    border: none;
    height: 60px;
    outline: none;
    border-radius: 2px;
    margin: 0;
    background-color: transparent;
    border-bottom: 1px solid black;
    color: white;
    font-size: large;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.details-heading {
    color: white;
    padding-top: 50px;
    font-weight: 500;
    font-size: larger;
}

.details {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.spinner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.spinner_main {
    background-color: #1a508b;
    height: 100vh;
}